In [37]:
import os
import pandas as pd
import numpy as np
import re
PUIdata = os.getenv('PUIDATA')

### Downloading data

In [38]:
data = pd.read_csv('/projects/open/NYCOpenData/nycopendata/data/erm2-nwe9/1446832678/erm2-nwe9')

In [39]:
data.head()

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location
0,31911011,11/05/2015 02:59:15 AM,NaN,DOT,Department of Transportation,Street Condition,Pothole,NaN,11224,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.573431,-73.991742,"(40.57343122248129, -73.99174247588253)"
1,31908754,11/05/2015 02:09:49 AM,NaN,CHALL,CHALL,Opinion for the Mayor,HOUSING,NaN,NaN,NaN,...,NaN,NaN,NaN,1-1-1173130914,NaN,NaN,NaN,NaN,NaN,NaN
2,31910423,11/05/2015 02:06:51 AM,NaN,DPR,Department of Parks and Recreation,Root/Sewer/Sidewalk Condition,Trees and Sidewalks Program,Street,11234,1157 EAST 57 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.625004,-73.920726,"(40.62500363580505, -73.92072558378698)"
3,31909924,11/05/2015 02:02:20 AM,NaN,NYPD,New York City Police Department,Illegal Parking,Blocked Hydrant,Street/Sidewalk,11218,722 EAST 4 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.634522,-73.974790,"(40.634522428879706, -73.97479041437481)"
4,31913310,11/05/2015 01:57:20 AM,11/05/2015 01:57:31 AM,HRA,HRA Benefit Card Replacement,Benefit Card Replacement,Medicaid,NYC Street Address,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
data.columns

Index([u'Unique Key', u'Created Date', u'Closed Date', u'Agency',
       u'Agency Name', u'Complaint Type', u'Descriptor', u'Location Type',
       u'Incident Zip', u'Incident Address', u'Street Name', u'Cross Street 1',
       u'Cross Street 2', u'Intersection Street 1', u'Intersection Street 2',
       u'Address Type', u'City', u'Landmark', u'Facility Type', u'Status',
       u'Due Date', u'Resolution Description',
       u'Resolution Action Updated Date', u'Community Board', u'Borough',
       u'X Coordinate (State Plane)', u'Y Coordinate (State Plane)',
       u'Park Facility Name', u'Park Borough', u'School Name',
       u'School Number', u'School Region', u'School Code',
       u'School Phone Number', u'School Address', u'School City',
       u'School State', u'School Zip', u'School Not Found',
       u'School or Citywide Complaint', u'Vehicle Type',
       u'Taxi Company Borough', u'Taxi Pick Up Location',
       u'Bridge Highway Name', u'Bridge Highway Direction', u'Road Ramp',
       u'Bridge Highway Segment', u'Garage Lot Name', u'Ferry Direction',
       u'Ferry Terminal Name', u'Latitude', u'Longitude', u'Location'],
      dtype='object')

In [41]:
data.drop(['Unique Key', 'Created Date', 'Closed Date', 'Agency',
       'Location Type',
       'Incident Zip', 'Incident Address', 'Street Name', 'Cross Street 1',
       'Cross Street 2', 'Intersection Street 1', 'Intersection Street 2',
       'Address Type', 'City', 'Landmark', 'Facility Type', 'Status',
       'Due Date', 'Resolution Description',
       'Resolution Action Updated Date',
       'X Coordinate (State Plane)', 'Y Coordinate (State Plane)',
       'Park Facility Name', 'Park Borough', 'School Name',
       'School Number', 'School Region', 'School Code',
       'School Phone Number', 'School Address', 'School City',
       'School State', 'School Zip', 'School Not Found',
       'School or Citywide Complaint', 'Vehicle Type',
       'Taxi Company Borough', 'Taxi Pick Up Location',
       'Bridge Highway Name', 'Bridge Highway Direction', 'Road Ramp',
       'Bridge Highway Segment', 'Garage Lot Name', 'Ferry Direction',
       'Ferry Terminal Name', 'Latitude', 'Longitude', 'Location'], axis=1, inplace=True)

### Checking for unique values

In [43]:
data.Borough.unique()

array(['BROOKLYN', 'Unspecified', 'STATEN ISLAND', 'MANHATTAN', 'BRONX',
       'QUEENS'], dtype=object)

In [44]:
data['Community Board'].unique()

array(['13 BROOKLYN', '0 Unspecified', '18 BROOKLYN', '12 BROOKLYN',
       '02 STATEN ISLAND', '08 MANHATTAN', '06 BROOKLYN', '10 BRONX',
       '06 MANHATTAN', '04 BROOKLYN', '04 QUEENS', '09 MANHATTAN',
       '14 BROOKLYN', '05 MANHATTAN', '02 MANHATTAN', '10 QUEENS',
       '07 QUEENS', '02 QUEENS', '11 BROOKLYN', '05 QUEENS', '05 BROOKLYN',
       '09 QUEENS', '12 MANHATTAN', '01 BROOKLYN', '11 MANHATTAN',
       '03 BRONX', '03 STATEN ISLAND', '08 BROOKLYN', '03 BROOKLYN',
       '07 MANHATTAN', '10 MANHATTAN', '04 BRONX', '01 MANHATTAN',
       '07 BRONX', '09 BRONX', '03 MANHATTAN', '13 QUEENS', '02 BRONX',
       '12 QUEENS', '16 BROOKLYN', '08 QUEENS', '04 MANHATTAN',
       '14 QUEENS', '10 BROOKLYN', '11 QUEENS', '06 BRONX', '08 BRONX',
       '05 BRONX', '15 BROOKLYN', '02 BROOKLYN', '12 BRONX', '03 QUEENS',
       '06 QUEENS', '01 STATEN ISLAND', '01 BRONX', '01 QUEENS',
       '17 BROOKLYN', '11 BRONX', 'Unspecified QUEENS', '09 BROOKLYN',
       'Unspecified MANHATTAN', 'Unspecified BROOKLYN', '07 BROOKLYN',
       'Unspecified BRONX', '64 MANHATTAN', '81 QUEENS', '55 BROOKLYN',
       '83 QUEENS', 'Unspecified STATEN ISLAND', '28 BRONX', '80 QUEENS',
       '26 BRONX', '95 STATEN ISLAND', '82 QUEENS', '27 BRONX',
       '56 BROOKLYN', '84 QUEENS'], dtype=object)

In [45]:
data_unique = data['Community Board'].unique()

In [46]:
len(data_unique)

77

In [49]:
data_unique_df = pd.DataFrame(data_unique)

### Dropping duplicates

In [50]:
data['Community Board'].drop_duplicates()

0                      13 BROOKLYN
1                    0 Unspecified
2                      18 BROOKLYN
3                      12 BROOKLYN
5                 02 STATEN ISLAND
7                     08 MANHATTAN
8                      06 BROOKLYN
10                        10 BRONX
11                    06 MANHATTAN
12                     04 BROOKLYN
13                       04 QUEENS
14                    09 MANHATTAN
15                     14 BROOKLYN
16                    05 MANHATTAN
18                    02 MANHATTAN
19                       10 QUEENS
20                       07 QUEENS
21                       02 QUEENS
23                     11 BROOKLYN
24                       05 QUEENS
25                     05 BROOKLYN
27                       09 QUEENS
32                    12 MANHATTAN
34                     01 BROOKLYN
36                    11 MANHATTAN
37                        03 BRONX
39                03 STATEN ISLAND
40                     08 BROOKLYN
43                     03 BROOKLYN
46                    07 MANHATTAN
                   ...
118                       05 BRONX
119                    15 BROOKLYN
121                    02 BROOKLYN
127                       12 BRONX
130                      03 QUEENS
145                      06 QUEENS
147               01 STATEN ISLAND
159                       01 BRONX
163                      01 QUEENS
169                    17 BROOKLYN
186                       11 BRONX
218             Unspecified QUEENS
223                    09 BROOKLYN
231          Unspecified MANHATTAN
234           Unspecified BROOKLYN
236                    07 BROOKLYN
489              Unspecified BRONX
2404                  64 MANHATTAN
3798                     81 QUEENS
5218                   55 BROOKLYN
5733                     83 QUEENS
6284     Unspecified STATEN ISLAND
6378                      28 BRONX
8430                     80 QUEENS
8455                      26 BRONX
9516              95 STATEN ISLAND
17464                    82 QUEENS
27661                     27 BRONX
32926                  56 BROOKLYN
41764                    84 QUEENS
Name: Community Board, dtype: object

### Cleaning data from "Unspecified" entries

In [75]:
new_data = data[data['Community Board'] != '0 Unspecified']

In [77]:
new_data1 = new_data[new_data['Community Board'] != 'Unspecified MANHATTAN']

In [78]:
new_data2 = new_data1[new_data1['Community Board'] != 'Unspecified BROOKLYN']

In [79]:
new_data3 = new_data2[new_data2['Community Board'] != 'Unspecified BRONX']

In [80]:
new_data4 = new_data3[new_data3['Community Board'] != 'Unspecified QUEENS']

In [81]:
new_data5 = new_data4[new_data4['Community Board'] != 'Unspecified STATEN ISLAND']

In [83]:
ranking = new_data5.groupby('Community Board').count()

In [84]:
ranking

                  Agency Name  Complaint Type  Descriptor  Borough
Community Board
01 BRONX                74631           74631       74312    74631
01 BROOKLYN            185057          185057      184119   185057
01 MANHATTAN            77974           77974       77099    77974
01 QUEENS              171484          171484      170936   171484
01 STATEN ISLAND       182713          182713      182178   182713
02 BRONX                60257           60257       60183    60257
02 BROOKLYN            121022          121022      120226   121022
02 MANHATTAN           133860          133860      132007   133860
02 QUEENS              114333          114333      113945   114333
02 STATEN ISLAND       121132          121132      120875   121132
03 BRONX                75134           75134       74961    75134
03 BROOKLYN            197306          197306      196725   197306
03 MANHATTAN           150296          150296      148807   150296
03 QUEENS              122009          122009      121716   122009
03 STATEN ISLAND       136487          136487      136222   136487
04 BRONX               181953          181953      181674   181953
04 BROOKLYN            139706          139706      139308   139706
04 MANHATTAN           132660          132660      131009   132660
04 QUEENS               99316           99316       98940    99316
05 BRONX               161078          161078      160890   161078
05 BROOKLYN            189765          189765      189389   189765
05 MANHATTAN           142028          142028      140071   142028
05 QUEENS              168570          168570      168182   168570
06 BRONX                99547           99547       99358    99547
06 BROOKLYN            114029          114029      113675   114029
06 MANHATTAN           104249          104249      103163   104249
06 QUEENS               90938           90938       90622    90938
07 BRONX               185729          185729      185415   185729
07 BROOKLYN            107031          107031      106727   107031
07 MANHATTAN           151419          151419      150052   151419
...                       ...             ...         ...      ...
10 MANHATTAN           137344          137344      136522   137344
10 QUEENS              128116          128116      127826   128116
11 BRONX               122081          122081      121805   122081
11 BROOKLYN            139890          139890      139583   139890
11 MANHATTAN            95413           95413       94614    95413
11 QUEENS              101908          101908      101756   101908
12 BRONX               168455          168455      168121   168455
12 BROOKLYN            150320          150320      149920   150320
12 MANHATTAN           268053          268053      267447   268053
12 QUEENS              229383          229383      228767   229383
13 BROOKLYN             72362           72362       72001    72362
13 QUEENS              163851          163851      163528   163851
14 BROOKLYN            187794          187794      187398   187794
14 QUEENS              103396          103396      103166   103396
15 BROOKLYN            146129          146129      145717   146129
16 BROOKLYN             85467           85467       85279    85467
17 BROOKLYN            191720          191720      191449   191720
18 BROOKLYN            156100          156100      155801   156100
26 BRONX                  397             397         395      397
27 BRONX                  469             469         467      469
28 BRONX                  433             433         432      433
55 BROOKLYN               767             767         728      767
56 BROOKLYN               834             834         833      834
64 MANHATTAN              904             904         837      904
80 QUEENS                2363            2363        2362     2363
81 QUEENS                1420            1420        1415     1420
82 QUEENS                 725             725         723      725
83 QUEENS                3072            3072        3066     3072
84 QUEENS                 274             274         273      274
95 STATEN ISLAND          531             531         525      531

[71 rows x 4 columns]

In [88]:
ranking.drop(['Descriptor'], axis=1, inplace=True)

In [90]:
ranking.drop(['Agency Name'], axis=1, inplace=True)

In [92]:
ranking.drop(['Borough'], axis=1, inplace=True)

### Creating ranking of Community Districtis by complaint type

In [94]:
ranking['Rank'] = ranking['Complaint Type'].rank(ascending=1)

In [95]:
ranking

                  Complaint Type  Rank
Community Board
01 BRONX                   74631  15.0
01 BROOKLYN               185057  63.0
01 MANHATTAN               77974  17.0
01 QUEENS                 171484  60.0
01 STATEN ISLAND          182713  62.0
02 BRONX                   60257  13.0
02 BROOKLYN               121022  32.0
02 MANHATTAN              133860  40.0
02 QUEENS                 114333  31.0
02 STATEN ISLAND          121132  33.0
03 BRONX                   75134  16.0
03 BROOKLYN               197306  69.0
03 MANHATTAN              150296  51.0
03 QUEENS                 122009  34.0
03 STATEN ISLAND          136487  42.0
04 BRONX                  181953  61.0
04 BROOKLYN               139706  44.0
04 MANHATTAN              132660  39.0
04 QUEENS                  99316  23.0
05 BRONX                  161078  56.0
05 BROOKLYN               189765  66.0
05 MANHATTAN              142028  47.0
05 QUEENS                 168570  59.0
06 BRONX                   99547  24.0
06 BROOKLYN               114029  30.0
06 MANHATTAN              104249  27.0
06 QUEENS                  90938  19.0
07 BRONX                  185729  64.0
07 BROOKLYN               107031  28.0
07 MANHATTAN              151419  54.0
...                          ...   ...
10 MANHATTAN              137344  43.0
10 QUEENS                 128116  38.0
11 BRONX                  122081  35.0
11 BROOKLYN               139890  45.0
11 MANHATTAN               95413  21.0
11 QUEENS                 101908  25.0
12 BRONX                  168455  58.0
12 BROOKLYN               150320  52.0
12 MANHATTAN              268053  71.0
12 QUEENS                 229383  70.0
13 BROOKLYN                72362  14.0
13 QUEENS                 163851  57.0
14 BROOKLYN               187794  65.0
14 QUEENS                 103396  26.0
15 BROOKLYN               146129  48.0
16 BROOKLYN                85467  18.0
17 BROOKLYN               191720  67.0
18 BROOKLYN               156100  55.0
26 BRONX                     397   2.0
27 BRONX                     469   4.0
28 BRONX                     433   3.0
55 BROOKLYN                  767   7.0
56 BROOKLYN                  834   8.0
64 MANHATTAN                 904   9.0
80 QUEENS                   2363  11.0
81 QUEENS                   1420  10.0
82 QUEENS                    725   6.0
83 QUEENS                   3072  12.0
84 QUEENS                    274   1.0
95 STATEN ISLAND             531   5.0

[71 rows x 2 columns]

### Sorting by Community Districts with highest number of complaints

In [100]:
ranking_district = ranking.sort(['Rank'], ascending=False)

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

In [101]:
ranking_district

                  Complaint Type  Rank
Community Board
12 MANHATTAN              268053  71.0
12 QUEENS                 229383  70.0
03 BROOKLYN               197306  69.0
07 QUEENS                 195961  68.0
17 BROOKLYN               191720  67.0
05 BROOKLYN               189765  66.0
14 BROOKLYN               187794  65.0
07 BRONX                  185729  64.0
01 BROOKLYN               185057  63.0
01 STATEN ISLAND          182713  62.0
04 BRONX                  181953  61.0
01 QUEENS                 171484  60.0
05 QUEENS                 168570  59.0
12 BRONX                  168455  58.0
13 QUEENS                 163851  57.0
05 BRONX                  161078  56.0
18 BROOKLYN               156100  55.0
07 MANHATTAN              151419  54.0
09 QUEENS                 151242  53.0
12 BROOKLYN               150320  52.0
03 MANHATTAN              150296  51.0
08 MANHATTAN              149076  50.0
09 BRONX                  147457  49.0
15 BROOKLYN               146129  48.0
05 MANHATTAN              142028  47.0
08 BROOKLYN               141119  46.0
11 BROOKLYN               139890  45.0
04 BROOKLYN               139706  44.0
10 MANHATTAN              137344  43.0
03 STATEN ISLAND          136487  42.0
...                          ...   ...
06 BROOKLYN               114029  30.0
10 BROOKLYN               111837  29.0
07 BROOKLYN               107031  28.0
06 MANHATTAN              104249  27.0
14 QUEENS                 103396  26.0
11 QUEENS                 101908  25.0
06 BRONX                   99547  24.0
04 QUEENS                  99316  23.0
10 BRONX                   95496  22.0
11 MANHATTAN               95413  21.0
08 BRONX                   92733  20.0
06 QUEENS                  90938  19.0
16 BROOKLYN                85467  18.0
01 MANHATTAN               77974  17.0
03 BRONX                   75134  16.0
01 BRONX                   74631  15.0
13 BROOKLYN                72362  14.0
02 BRONX                   60257  13.0
83 QUEENS                   3072  12.0
80 QUEENS                   2363  11.0
81 QUEENS                   1420  10.0
64 MANHATTAN                 904   9.0
56 BROOKLYN                  834   8.0
55 BROOKLYN                  767   7.0
82 QUEENS                    725   6.0
95 STATEN ISLAND             531   5.0
27 BRONX                     469   4.0
28 BRONX                     433   3.0
26 BRONX                     397   2.0
84 QUEENS                    274   1.0

[71 rows x 2 columns]

### Downloading dataset on population

In [103]:
df_pop = pd.read_csv("http://cosmo.nyu.edu/~fb55/PUI2016/data/Final_Demographics.csv")

In [104]:
df_pop.head()

,FIPS,cd_id,Total Population,Population Density (per sq. mile),% Total Population: Male,% Total Population: 18 to 24 Years,% Total Population: 25 to 34 Years,% Total Population: 35 to 44 Years,% Population 5 Years And Over: Speak Only English,% Population 5 Years And Over: Spanish or Spanish Creole,...,"Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Production occupations","Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Transportation and material moving occupations","% Employed Civilian Population 16 Years And Over: Management, professional, and related occupations",% Employed Civilian Population 16 Years And Over: Service occupations,% Employed Civilian Population 16 Years And Over: Sales and office occupations,"% Employed Civilian Population 16 Years And Over: Farming, fishing, and forestry occupations","% Employed Civilian Population 16 Years And Over: Construction, extraction, and maintenance occupations","% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations","% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Production occupations","% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Transportation and material moving occupations"
0,3603701,BX08,106737,31229.95006,46.65,10.73,15.04,11.32,46.80,39.24,...,665,1518,42.66,28.95,20.89,0.24,2.65,4.60,1.40,3.20
1,3603702,BX12,134644,19966.67839,46.35,11.35,14.29,12.57,73.09,18.19,...,1156,4174,29.57,33.98,20.40,0.00,7.08,8.97,1.95,7.02
2,3603703,BX10,121209,12913.81703,45.20,8.62,13.74,12.78,61.79,26.43,...,941,3433,36.20,22.85,25.09,0.00,7.68,8.18,1.76,6.42
3,3603704,BX11,135839,35677.95453,50.09,8.10,17.43,14.09,43.22,36.45,...,2189,5592,30.06,27.86,22.24,0.00,7.03,12.81,3.60,9.20
4,3603705,BX03,172247,39405.79222,44.72,14.24,14.89,12.38,36.82,54.24,...,1437,5436,16.80,41.00,22.29,0.03,8.45,11.43,2.39,9.04

In [105]:
df_pop.columns

Index([u'FIPS', u'cd_id', u'Total Population',
       u'Population Density (per sq. mile)', u'% Total Population: Male',
       u'% Total Population: 18 to 24 Years',
       u'% Total Population: 25 to 34 Years',
       u'% Total Population: 35 to 44 Years',
       u'% Population 5 Years And Over: Speak Only English',
       u'% Population 5 Years And Over: Spanish or Spanish Creole',
       ...
       u'Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Production occupations',
       u'Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Transportation and material moving occupations',
       u'% Employed Civilian Population 16 Years And Over: Management, professional, and related occupations',
       u'% Employed Civilian Population 16 Years And Over: Service occupations',
       u'% Employed Civilian Population 16 Years And Over: Sales and office occupations',
       u'% Employed Civilian Population 16 Years And Over: Farming, fishing, and forestry occupations',
       u'% Employed Civilian Population 16 Years And Over: Construction, extraction, and maintenance  occupations',
       u'% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations',
       u'% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Production occupations',
       u'% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Transportation and material moving occupations'],
      dtype='object', length=158)

In [107]:
#checking number of Community Districts
len(df_pop['cd_id'])

59

In [108]:
#checking values of Community Districts in this dataset
df_pop.cd_id

0        BX08
1        BX12
2        BX10
3        BX11
4        BX03
5        BX06
6        BX07
7        BX05
8        BX04
9        BX09
10       BX01
11       BX02
12       MN12
13       MN09
14       MN10
15    MN11111
16       MN08
17       MN07
18       MN05
19       MN04
20       MN06
21       MN03
22       MN01
23       MN02
24       SI03
25       SI02
26       SI01
27       BK01
28       BK04
29       BK03
30       BK02
31       BK06
32       BK08
33       BK16
34       BK05
35       BK18
36       BK17
37       BK09
38       BK07
39       BK10
40       BK12
41       BK14
42       BK15
43       BK11
44       BK13
45       QN01
46       QN03
47       QN07
48       QN11
49       QN13
50       QN08
51       QN04
52       QN06
53       QN02
54       QN05
55       QN09
56       QN12
57       QN10
58       QN14
Name: cd_id, dtype: object

### Downloading dataset on infrastructure and digital access

In [110]:
df_infr = pd.read_csv("http://cosmo.nyu.edu/~fb55/PUI2016/data/ACS_Computer_Use_and_Internet_2014_1Year_Estimate.csv")

In [111]:
df_infr.head()

,FIPS,Geographic Identifier,Qualifying Name,Households,Households: With An Internet Subscription,Households: Dial-Up Alone,Households: Dsl,Households: With Mobile Broadband,Households: Without Mobile Broadband,Households: Cable Modem,...,Households: Mobile Broadband Alone or With Dialup,Households: Internet Access Without A Subscription,Households: No Internet Access,% Households: With An Internet Subscription,Households.1,Households: Has A Computer,Households: With Dial-Up Internet Subscription Alone,Households: With A Broadband Internet Subscription,Households: Without An Internet Subscription,Households: No Computer
0,3603701,79500US3603701,"NYC-Bronx Community District 8--Riverdale, New...",42035,31795,444,2813,946,1867,19178,...,2168,2119,8121,75.64,42035,35048,404,30943,3701,6987
1,3603702,79500US3603702,"NYC-Bronx Community District 12--Wakefield, Ne...",44830,32243,178,849,405,444,18653,...,928,1891,10696,71.92,44830,36700,178,31435,5087,8130
2,3603703,79500US3603703,"NYC-Bronx Community District 10--Co-op City, N...",47050,32729,158,1863,398,1465,20044,...,639,2882,11439,69.56,47050,38700,158,32333,6209,8350
3,3603704,79500US3603704,NYC-Bronx Community District 11--Pelham Parkwa...,44922,32003,141,1478,474,1004,17917,...,1001,2722,10197,71.24,44922,37237,122,31278,5837,7685
4,3603705,79500US3603705,"NYC-Bronx Community District 3 & 6--Belmont, N...",57556,35503,88,1297,651,646,15847,...,1385,3312,18741,61.68,57556,42576,88,33408,9080,14980

In [112]:
df_infr.columns

Index([u'FIPS', u'Geographic Identifier', u'Qualifying Name', u'Households',
       u'Households: With An Internet Subscription',
       u'Households: Dial-Up Alone', u'Households: Dsl',
       u'Households: With Mobile Broadband',
       u'Households: Without Mobile Broadband', u'Households: Cable Modem',
       u'Households: With Mobile Broadband.1',
       u'Households: Without Mobile Broadband.1', u'Households: Fiber-Optic',
       u'Households: With Mobile Broadband.2',
       u'Households: Without Mobile Broadband.2',
       u'Households: Satellite Internet Service',
       u'Households: With Mobile Broadband.3',
       u'Households: Without Mobile Broadband.3',
       u'Households: Two or More Fixed Broadband Types, or Other',
       u'Households: With Mobile Broadband.4',
       u'Households: Without Mobile Broadband.4',
       u'Households: Mobile Broadband Alone or With Dialup',
       u'Households: Internet Access Without A Subscription',
       u'Households: No Internet Access',
       u'% Households: With An Internet Subscription', u'Households.1',
       u'Households: Has A Computer',
       u'Households: With Dial-Up Internet Subscription Alone',
       u'Households: With A Broadband Internet Subscription',
       u'Households: Without An Internet Subscription',
       u'Households: No Computer'],
      dtype='object')

### Merging two datasets on population and infrastructure to enrich the results of Community Districts ranking

In [113]:
pop_infr = pd.merge(df_pop, df_infr, how='inner', on=['FIPS'])

In [114]:
pop_infr

,FIPS,cd_id,Total Population,Population Density (per sq. mile),% Total Population: Male,% Total Population: 18 to 24 Years,% Total Population: 25 to 34 Years,% Total Population: 35 to 44 Years,% Population 5 Years And Over: Speak Only English,% Population 5 Years And Over: Spanish or Spanish Creole,...,Households: Mobile Broadband Alone or With Dialup,Households: Internet Access Without A Subscription,Households: No Internet Access,% Households: With An Internet Subscription,Households.1,Households: Has A Computer,Households: With Dial-Up Internet Subscription Alone,Households: With A Broadband Internet Subscription,Households: Without An Internet Subscription,Households: No Computer
0,3603701,BX08,106737,31229.950060,46.65,10.73,15.04,11.32,46.80,39.24,...,2168,2119,8121,75.64,42035,35048,404,30943,3701,6987
1,3603702,BX12,134644,19966.678390,46.35,11.35,14.29,12.57,73.09,18.19,...,928,1891,10696,71.92,44830,36700,178,31435,5087,8130
2,3603703,BX10,121209,12913.817030,45.20,8.62,13.74,12.78,61.79,26.43,...,639,2882,11439,69.56,47050,38700,158,32333,6209,8350
3,3603704,BX11,135839,35677.954530,50.09,8.10,17.43,14.09,43.22,36.45,...,1001,2722,10197,71.24,44922,37237,122,31278,5837,7685
4,3603705,BX03,172247,39405.792220,44.72,14.24,14.89,12.38,36.82,54.24,...,1385,3312,18741,61.68,57556,42576,88,33408,9080,14980
5,3603705,BX03,172247,39405.792220,44.72,14.24,14.89,12.38,36.82,54.24,...,1385,3312,18741,61.68,57556,42576,88,33408,9080,14980
6,3603705,BX06,172247,39405.792220,44.72,14.24,14.89,12.38,28.21,59.53,...,1385,3312,18741,61.68,57556,42576,88,33408,9080,14980
7,3603705,BX06,172247,39405.792220,44.72,14.24,14.89,12.38,28.21,59.53,...,1385,3312,18741,61.68,57556,42576,88,33408,9080,14980
8,3603706,BX07,135893,86487.077920,48.48,10.58,14.97,15.32,29.10,62.49,...,1624,4655,11129,66.60,47252,38899,0,31021,7878,8353
9,3603707,BX05,132850,87974.348600,45.75,13.10,16.34,11.96,29.84,59.43,...,1062,2980,15387,58.91,44699,34397,54,25772,8571,10302
10,3603708,BX04,141467,71270.882190,45.64,12.28,12.41,13.10,42.97,47.55,...,2374,3701,14858,61.28,47935,34692,316,27971,6405,13243
11,3603709,BX09,190126,42752.506900,47.59,11.15,15.22,12.54,33.62,61.02,...,1663,1871,16164,71.83,64011,53072,180,45261,7631,10939
12,3603710,BX01,167147,34412.075240,49.63,12.76,18.26,12.04,27.49,66.53,...,1002,2412,17066,62.68,52191,39141,0,30958,8183,13050
13,3603710,BX01,167147,34412.075240,49.63,12.76,18.26,12.04,27.49,66.53,...,1002,2412,17066,62.68,52191,39141,0,30958,8183,13050
14,3603710,BX02,167147,34412.075240,49.63,12.76,18.26,12.04,49.63,36.01,...,1002,2412,17066,62.68,52191,39141,0,30958,8183,13050
15,3603710,BX02,167147,34412.075240,49.63,12.76,18.26,12.04,49.63,36.01,...,1002,2412,17066,62.68,52191,39141,0,30958,8183,13050
16,3603801,MN12,224365,75217.432870,49.80,11.49,19.48,14.51,68.39,18.39,...,4573,2137,16275,75.57,75352,61726,306,56092,5328,13626
17,3603802,MN09,130739,77402.950100,48.06,19.14,19.88,12.03,47.08,40.57,...,1777,1840,10319,74.37,47440,38564,47,34729,3788,8876
18,3603803,MN10,132027,91244.889890,43.68,8.89,20.81,14.77,74.19,6.94,...,1184,2726,17869,63.91,57064,44705,167,35908,8630,12359
19,3603804,MN11111,129713,56066.264730,46.26,12.64,19.09,12.10,71.81,10.93,...,1701,1803,17288,61.60,49721,34640,464,29632,4544,15081
20,3603805,MN08,221898,109960.139600,42.11,4.03,24.19,15.73,67.27,11.53,...,3952,3000,8773,89.75,114838,108746,121,102849,5776,6092
21,3603806,MN07,192374,65024.961090,46.37,5.38,17.74,14.88,73.38,6.42,...,4451,3020,8634,88.01,97229,90861,107,85468,5286,6368
22,3603807,MN05,149447,48626.990950,51.44,8.82,29.41,17.81,45.29,20.63,...,2578,3330,9365,84.66,82762,75759,53,69776,5930,7003
23,3603807,MN05,149447,48626.990950,51.44,8.82,29.41,17.81,45.29,20.63,...,2578,3330,9365,84.66,82762,75759,53,69776,5930,7003
24,3603807,MN04,149447,48626.990950,51.44,8.82,29.41,17.81,73.93,5.37,...,2578,3330,9365,84.66,82762,75759,53,69776,5930,7003
25,3603807,MN04,149447,48626.990950,51.44,8.82,29.41,17.81,73.93,5.37,...,2578,3330,9365,84.66,82762,75759,53,69776,5930,7003
26,3603808,MN06,143349,87333.791040,45.70,10.88,28.09,11.00,78.30,4.53,...,1334,1925,7836,87.84,80268,75563,471,69676,5416,4705
27,3603809,MN03,152453,87256.670150,50.34,10.72,21.18,13.66,63.29,6.74,...,2136,5002,22408,62.75,73578,55656,319,45434,9903,17922
28,3603810,MN01,159903,53928.053600,49.00,8.55,28.38,18.14,65.31,19.32,...,1795,3089,6193,88.95,83976,79890,132,74339,5419,4086
29,3603810,MN01,159903,53928.053600,49.00,8.55,28.38,18.14,65.31,19.32,...,1795,3089,6193,88.95,83976,79890,132,74339,5419,4086
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37,3604003,BK03,133235,58004.868160,47.55,12.75,19.43,11.55,77.10,17.30,...,4212,1683,15567,65.97,50688,39450,110,32660,6680,11238
38,3604004,BK02,139070,44719.888150,45.99,9.57,22.68,17.05,57.49,32.56,...,1526,2298,8780,80.63,57188,50134,252,45378,4504,7054
39,3604005,BK06,125062,31218.503280,48.71,4.79,22.77,21.13,69.33,6.48,...,1592,714,4225,90.06,49709,45850,57,44121,1672,3859
40,3604006,BK08,126747,57010.543560,46.57,10.12,19.57,16.61,80.23,5.63,...,690,1882,13341,69.72,50266,42146,91,34367,7688,8120
41,3604007,BK16,123772,47796.011830,43.49,9.36,15.89,12.49,71.10,7.96,...,642,2052,16845,57.31,44269,33248,64,24376,8808,11021
42,3604008,BK05,155863,26394.764690,45.49,11.18,15.29,12.60,25.03,37.69,...,1480,1797,15875,67.95,55136,42170,85,36743,5342,12966
43,3604009,BK18,210957,15374.526180,46.98,9.99,13.65,13.47,44.62,9.48,...,986,2651,13076,77.53,69980,60589,156,53561,6872,9391
44,3604010,BK17,137526,44659.444610,42.60,9.34,14.79,13.25,31.11,10.81,...,896,1184,13852,70.35,50711,39783,256,34990,4537,10928
45,3604011,BK09,109337,64006.179970,45.55,11.44,20.14,12.49,50.85,13.08,...,313,1233,11362,69.49,41281,32298,334,28023,3941,8983
46,3604012,BK07,152685,36736.915040,49.70,9.38,19.44,16.10,43.33,5.24,...,1414,1145,8978,77.92,45848,39117,21,35429,3667,6731
47,3604013,BK10,128545,33069.986680,48.47,7.29,17.02,14.02,27.63,10.75,...,650,1738,8870,78.17,48591,41475,327,37282,3866,7116
48,3604014,BK12,170011,54054.487510,50.97,8.66,14.25,12.58,31.65,10.94,...,2195,2398,15536,61.07,46062,36353,268,27609,8476,9709
49,3604015,BK14,180723,62164.359800,46.21,9.68,16.91,12.37,41.83,24.16,...,1616,2165,13919,73.71,61174,51215,272,43975,6968,9959
50,3604016,BK15,137815,31829.054410,47.84,7.06,14.92,11.11,16.12,62.45,...,1104,1707,11465,75.44,53639,44092,314,39783,3995,9547
51,3604017,BK11,187637,50644.631520,49.73,7.63,15.81,14.55,27.57,14.80,...,882,2506,13588,74.13,62220,52675,164,45438,7073,9545
52,3604018,BK13,110727,32537.409220,45.85,8.33,10.34,11.27,40.57,9.00,...,380,1280,15552,62.65,45070,30869,191,27559,3119,14201
53,3604101,QN01,182860,35800.759600,49.32,9.26,27.12,15.74,66.19,9.25,...,1459,1815,12082,81.66,75758,66023,277,60733,5013,9735
54,3604102,QN03,182354,44839.980490,50.10,8.48,18.96,16.20,40.08,15.70,...,1073,1530,14055,72.24,56146,45949,202,40114,5633,10197
55,3604103,QN07,256742,21836.668490,47.61,8.43,14.06,13.96,15.29,48.07,...,1441,1246,19514,76.73,89206,70594,150,67680,2764,18612
56,3604104,QN11,120996,12991.169540,49.38,6.24,13.72,13.04,36.98,12.56,...,639,621,5297,86.33,43279,38880,79,37199,1602,4399
57,3604105,QN13,193102,9812.563966,46.91,9.45,12.90,13.14,27.17,30.49,...,2836,1588,8035,83.95,59953,53703,383,49266,4054,6250
58,3604106,QN08,159330,21412.216470,46.58,9.96,15.41,13.35,47.31,25.29,...,1023,1261,9481,80.34,54629,47658,223,43232,4203,6971
59,3604107,QN04,154740,42497.737460,52.21,10.22,18.95,13.72,40.05,34.50,...,1238,775,11507,73.25,45916,36863,68,33180,3615,9053
60,3604108,QN06,107893,38598.784620,45.82,5.21,13.35,15.97,71.64,14.65,...,1290,1419,7803,81.88,50896,43751,400,41070,2281,7145
61,3604109,QN02,150100,25142.587280,52.05,7.88,21.98,17.65,65.22,19.14,...,946,1578,6870,83.95,52641,47054,68,43902,3084,5587
62,3604110,QN05,168488,23005.322980,48.94,9.48,14.84,15.10,68.93,18.09,...,843,838,11018,80.35,60344,52401,298,47925,4178,7943
63,3604111,QN09,151202,31804.100680,48.58,10.89,16.24,14.68,NaN,NaN,...,1443,1011,7702,80.63,44971,39745,296,35511,3938,5226
64,3604112,QN12,251002,27089.677200,46.33,10.22,14.74,12.73,NaN,NaN,...,6093,1537,19463,71.94,74848,61383,514,53106,7763,13465
65,3604113,QN10,134827,21979.770830,48.24,9.37,12.33,14.90,NaN,NaN,...,1308,1198,6530,79.69,38041,32170,338,29698,2134,5871
66,3604114,QN14,107944,9541.923526,48.36,7.78,11.68,10.32,NaN,NaN,...,701,1654,8862,73.28,39357,31308,178,27803,3327,8049